.link-strava {
  background: rgb(239, 149, 149);
} 

.link-strava svg {
  fill: white;
}

.link-goodreads {
  background: rgb(101, 100, 124)
}

.link-goodreads svg {
  fill: white;
}

.link-mail {
  background: rgb(137, 181, 175);
}

.link-mail svg {
  fill: white;
}

.link-github {
  background-color: rgb(22, 27, 34);
}

.link-linkedin {
  background-color: rgb(114, 134, 211);
}

.prose {
  max-width: 48ch;
  text-align: justify;
}

nav a {
  visibility: collapse;
}